@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

